{% extends "base.html" %}
{% block title %} {{category}} {% endblock title %}

{% block authentic %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 text-center fs-8">
            {% if user.is_authenticated %}
                Привет, {{ user.username }}!
            {% else %}
                <p>Вы не вошли в аккаунт!</p>
            {% endif %}
        </div>
        <div class="col-2 text-center fs-8">

          {% if user.is_authenticated %}
            <p><a href="{% url 'users-profile' %}">Мой профиль</a></p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <a href="#" onclick="parentNode.submit();">Выход</a>
            </form>

            {% else %}
                <p><a href="{% url 'login' %}">Вход</a></p>
                <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

            {% endif %}
        </div>
    </div>
</div>
{% endblock authentic%}

{% block content %}
<div class="container-fluid bg-light">
    <div class="row py-auto" >
        <div class="col-1 text-center border border-2 rounded-3 bg-white ">
            <p class="display-10 fw-bold"> Категория </p>
        </div>
        <div class="col-11 text-center border border-2 rounded-3 bg-light">
            <p class="display-10 fw-bold"> {{ category }} </p>
        </div>

    </div>
    <div class="row py-auto" >
        <div class="col-1 text-center border border-2 rounded-3 bg-white ">
            <p class="display-10 fw-bold"> Тест </p>
        </div>
        <div class="col-11 text-center border border-2 rounded-3 bg-white">
            <p class="display-10 fw-bold"> {{ test }} </p>
        </div>


    </div>
    <div class="row py-auto">
        <div class="col-1 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Номер п/п </p>
        </div>
        <div class="col-6 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Вопросы теста </p>
        </div>
        <div class="col-4 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Дата публикации, автор </p>
        </div>
        <div class="col-1 text-center border border-2 rounded-3 bg-warning ">
            <p class="display-10 fw-bold"> Теги </p>
        </div>
    </div>
    {% for question in questions %}
    <div class="row">
        <div class="col-1 text-center border border-2 rounded-3 ">
            {{ question.0 }}
        </div>
        <div class="col-6 text-center border border-2 rounded-3 ">
            {{ question.1.question }}
        </div>
        <div class="col-4 text-center border border-2 rounded-3">
            <p class="date">
                Published {{ question.1.publish }} by {{ question.1.author }}
            </p>
        </div>
        <div class="col-1 text-center border border-2 rounded-3 ">
            <p class="tags">
            {% for tag in question.1.tags.all %}
                <a href="{% url 'quiz_question_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}