{% extends "base.html" %}
{% load static %}


{% block title %} {{category.0}} {% endblock title %}

{% block content %}

<div class="container-fluid bg-light">
    <div class="row py-auto">
        <div class="col-2 align-self-center text-center border border-2 rounded-3 bg-white ">
            <p class="display-10 fw-bold my-5"> Категория </p>
        </div>
        <div class="col-6 align-self-center text-center border border-2 rounded-3 bg-light">
            <p class="display-10 fw-bold my-5"> {{ category.0 }} </p>
        </div>
        <div class="col-4 text-center border border-2 rounded-3 bg-white ">
            <img src="{% static category.1 %}" alt={{category.1}}>
        </div>
    </div>
    <div class="row py-auto">
        <div class="col-12 text-center border border-2 rounded-3 bg-warning">
            {% if tag %}
            <h2> Tests tagged with "{{ tag.name }}"</h2>
            {% endif %}
        </div>
    </div>
    <div class="row py-auto">
        <div class="col-1 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Номер п/п </p>
        </div>
        <div class="col-6 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Тесты </p>
        </div>
        <div class="col-4 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Дата публикации, автор </p>
        </div>
        <div class="col-1 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Теги </p>
        </div>
    </div>

    {% for test in tests %}
    <div class="row">
        <div class="col-1 text-center border border-2 rounded-3 ">
            {{ test.0 }}
        </div>
        <div class="col-6 text-center border border-2 rounded-3 ">
            {{ test.1.title }}
        </div>
        <div class="col-4 text-center border border-2 rounded-3">
            <p class="date">
                Published {{ test.1.publish }} by {{ test.1.author }}
            </p>
        </div>
        <div class="col-1 text-center border border-2 rounded-3">
            <p class="tags">
            {% for tag in test.1.tags.all %}
                <a href="{% url 'quiz_test_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        </div>
    </div>
    {% endfor %}
    <div class="row py-auto">
        <div class="col-1 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Номер п/п </p>
        </div>
        <div class="col-6 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Все вопросы в данной категории </p>
        </div>
        <div class="col-4 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Дата публикации, автор </p>
        </div>
        <div class="col-1 text-center border border-2 rounded-3 bg-warning">
            <p class="display-10 fw-bold"> Теги </p>
        </div>
    </div>
    {% for question in questions %}
    <div class="row">
        <div class="col-1 text-center border border-2 rounded-3 ">
            {{ question.0 }}
        </div>
        <div class="col-6 text-center border border-2 rounded-3 ">
            {{ question.1.question }}
        </div>
        <div class="col-4 text-center border border-2 rounded-3">
            <p class="date">
                Published {{ question.1.publish }} by {{ question.1.author }}
            </p>
        </div>
        <div class="col-1 text-center border border-2 rounded-3">
            <p class="tags">
            {% for tag in question.1.tags.all %}
                <a href="{% url 'quiz_question_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}