{% extends "base.html" %}

{% block title %} Забыли пароль? {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col12 h1 text-center border border-2 rounded-3 bg-warning ">
            Забыли пароль?
        </div>
    </div>
  <div class="row">
        <div class="col12 border border-2 rounded-3 bg-white ">
            Введите Ваш адрес электронной почты, и мы пришлем Вам инструкцию по восстановлению пароля.
        </div>
    </div>
    <table class="table table-bordered">
        <form method="post">
            {{form.as_table}}
            {% csrf_token %}
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Прислать инструкцию" class="btn btn-primary "></td>
            </tr>
        </form>
    </table>
</div>

{% endblock %}